<div class="row row-margin">
  <div class="col-md-4 offset-md-4">
    <form>
      <input type="text" class="form-control form-control-lg" placeholder="Buscar usuario" value="<%= params[:search] %>" name="search" id="search" />
    </form>
  </div>
</div>