<ul class="nav user-item">
  <li class="nav-item">
    <%= link_to root_path, :class => 'nav-link' do %>
        <%= icon('home', class: 'strong') %> Inicio
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'https://chrome.google.com/webstore/detail/facebook-prize-hunters-bl/ahfgoglhpgilngecogmdjciidjkkphlc', :class => 'nav-link' do %>
        <%= icon('chrome', class: 'strong') %> Extención para Google Chrome
    <% end %>
  </li>
</ul>